@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-amber-950: #ffbf00;
  --font-roboto: var(--font-roboto), sans-serif;

}

body {
  background: var(--background);
  color: var(--foreground);
    font-family: var(--font-roboto);
}
h3:hover {
    color: var(--color-amber-950);
    border-color: var(--color-amber-950);
}



.extra-bold-text {
    font-weight: 800;
}

.fade-image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.font-black {
    font-weight: 900;
}

.fade-image.active {
    opacity: 1;
}
