@import "tailwindcss";
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');*/


:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-amber-950: #ffbf00;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}
h3:hover {
    color: var(--color-amber-950);
    border-color: var(--color-amber-950);
}

.extra-bold-text {
    font-weight: 800;
}

.fade-image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-image.active {
    opacity: 1;
}
